# Variables de entorno para el servidor

# Puerto del servidor
PORT=3000

# Configuración base de datos MySQL
DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=
DB_DATABASE=fefo_app

# Ambiente (development, production)
NODE_ENV=development
